.headerRibbon {
    position: absolute;
    top: 0;
    left: 0;
}

.corner-ribbon.test-ribbon {
    width: 165px;
    position: absolute;
    top: 0px;
    left: 98px;
    font-size: 1.2em;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
    color: #FFF;
    -webkit-transform: rotate(0deg);
    box-shadow: 0 0 8px rgb(0 0 0 / 50%);
    background: var(--color-theme-danger);
    border-radius: 4px 4px 4px 40px;
}