/*
Theme Name:    Solmedic Theme Child
 Theme URI:    https://github.com/johnkegd/solmedic-theme-child
 Description:  Soluciones medicas Venezuela - tienda de equipos medicos
 Author:       Johnkegd
 Author URI:   https://github.com/johnkegd/
 Template:     machic
 Version:      1.0.8
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  solmedic-theme-child
*/


.elementor-widget-machic-category-banner.solmedicven-category-banner .product-category-detail {
  background-image: linear-gradient(170deg, #FFFFFF 0%, var(--color-secondary) 100%);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 4px 4px 4px 70px;
}

.elementor-widget-machic-category-banner.solmedicven-category-banner .product-category-detail .category-banner {
background-color:transparent;

}

.elementor-widget-machic-category-banner.solmedicven-category-banner .product-category-detail .categories-list {
border:none;
}

.before-shop-loop .filter-desktop-button {
  background-image: linear-gradient(45deg, white 0%, var(--color-secondary) 100%);
  border-style: solid;
  border-width: 0;
  border-radius: 4px;
  padding: 0px 10px;
}


span.swiper-pagination-bullet-active {
	background-color:var(--color-shop-button-active);
}

.hover-slider-indicator-dot.active {
	background-color:var(--color-shop-button-active);
}


/****** headers and sidebars ***/

.site-offcanvas-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  background-color: var(--color-shop-button-active);
  border-bottom: 1px solid #e5e8ef;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}


/****** headers and sidebars ***/
[class^=johnkegd-icon-]{
  background-repeat: no-repeat;
  background-size: 18px;
  width: 1em;
  height: 1em;
}

.johnkegd-icon-cirugia-general {
  background-image: url(https://test.solmedicven.com/wp-content/uploads/2022/06/cirugia.svg);
}

.johnkegd-icon-traumatologia {
  background-image: url(https://test.solmedicven.com/wp-content/uploads/2022/06/traumatologia.svg);
}
.johnkegd-icon-gastroenterologia {
  background-image: url(https://test.solmedicven.com/wp-content/uploads/2022/06/gastroenterologia.svg);
}
.johnkegd-icon-ginecologia {
  background-image: url(https://test.solmedicven.com/wp-content/uploads/2022/06/ginecologia.svg);
}
.johnkegd-icon-neurologia {
  background-image: url(https://test.solmedicven.com/wp-content/uploads/2022/06/neurologia.svg);
}
.johnkegd-icon-pedriatico {
  background-image: url(https://test.solmedicven.com/wp-content/uploads/2022/06/pedriatico.svg);
}
.johnkegd-icon-pulmonar {
  background-image: url(https://test.solmedicven.com/wp-content/uploads/2022/06/pulmonar.svg);
}

.headerRibbon {
  position: absolute;
  top: 70px;
  left: 0;
}

.corner-ribbon.test-ribbon {
  width: 165px;
  position: absolute;
  top: 0px;
  left: 3px;
  font-size: 1.2em;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  color: #FFF;
  -webkit-transform: rotate(0deg);
  box-shadow: 0 0 8px rgb(0 0 0 / 50%);
  background: var(--color-theme-danger);
  border-radius: 0 40px 0 0;
}

/****** shop banner - slider swiper ***/

.shop-banner-top {
  background-color: #F7F8F9;
}

.shop-banner-top .module-banner-text .banner-inner .banner-price span {
  color: var(--color-theme-danger) !important;
}

.shop-banner-bottom.equipos.swiper-container:before {
  position: unset;
}


.shop-banner-bottom .banner.dark {
  background-color: #F7F8F9;
}

.shop-banner-bottom .swiper-button-prev, .shop-banner-bottom .swiper-button-prev {
  color:var(--color-primary);
}

.shop-banner-bottom .swiper-button-next::after, .shop-banner-bottom .swiper-button-prev::after {
  font-size: 1.625rem !important;
  color:white;
}

.swiper-button-next, .swiper-button-prev {
  border: 0.7px solid white;
  border-radius:25px;
  width:2.125rem;
  background-color: rgb(54 141 217 / 50%);
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  background-color:var(--color-primary);
  color:white;
}

/********** media queries **********/
@media(max-width: 768px) {
  .banner.dark.align-center.price-banner {
      height:280px;
  }
}
